<!-- 
                                                                               
            ,.~:::::==.                                     ,,  ,,             
         .:    :::::::::?..                               ?EF=C3P`             
       ,;wwszzzxsc;::::::::\          EttQLcEE2x,zSE2x  @tttLzSEZh. ;ttt9ydEE2x
     ,S533333333333Z5e;:::::3.       {333Z53333EE33333.J533ZE33333L E333Zj33333
   z5333333eFFe2E333333Qx:::z3.     .E333  [335L ]333F E333F |333V J3337  E333F
 .E33332F.::::::::5E3333X2c:tz[     {333F J533[ :E33J {3337  E333L E333L J333V 
 E3335F ::::::::::::X333313ctt]     ^^^"  "^^^  "^^^` "^^^` "^^^" '^^^"  "^^^` 
|3333F  :::::::::::::]3333E3tt[                        @52Z2EF                 
|3333L:::::::::::::::{3333[tt3    ;wwwy,czzs ,wczs. ,wwwy,wsz>.  pwww.,czzs    
|3333L\::::::::::::::[3333Et2`    E333533333333333[ E333333333J JE333E33333L   
 E3333.'c:::::::::::Z3333t3F     {333/`J3337`JE333 J333V` E333F E333F`}3333    
 "Q3333h.!=;:::::;2533332^      .E333  E33Q. {333F E33EL J3337 J3337  E333L    
   \E33333Zzz9zSE333335*        !FFF* ?FFF* -FFF* ?FFF*  FFFFL FFFFL ?FFF*     
     "1j33333333333jP^   

Made with love 
                                                            Front-end: Carlos
                                                             Back-end: Carlos
                                                      Logo&Typography: Carlos
-->
<!DOCTYPE html>
<html lang="en" charset="UTF-8">
<?php 
    include ("./assets/php/connect.php");
    $consulta0 = "SELECT * FROM pages where name='home'";
    $dat0 = $mysqli->query($consulta0);
    $res0 = $dat0->fetch_array();
    $main_image = $res0['main_image'];
    $main_position = $res0['position_main'];
    $main_text = $res0['text1'];
    $image1_position = $res0['position_image1'];
    $image1 = $res0['image1'];
    $text_shop = $res0['text2'];

?>

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120828368-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-120828368-2');
        </script>
        <meta name="Description" content="Living the Husky life. Handmade knives. Outdoor photography.">
        <meta name="KeyWords" content="knives, husky, huskies, outdoor, handmade, lapland, blog, lihkolas, viking, vikings">
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
        <link rel="icon" type="image/png" href="./assets/img/wolf_copy.png">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title> Home | Lihkolas Husky</title>

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <link href="./assets/css/bootstrap.css" rel="stylesheet" />
        <link href="./assets/css/gaia.css" rel="stylesheet" />

        <!--     Fonts and icons     -->
        <link href='https://fonts.googleapis.com/css?family=Cambo|Lato:400,700' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href="./assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
        <style type="text/css">
            @font-face {
                font-family: "Norse";
                font-style: normal;
                font-weight: normal;
                src: url("./assets/css/fonts/Norse.woff") format("woff"), url("./assets/css/fonts/Norse.ttf") format("truetype");
            }
            
            @font-face {
                font-family: "NorseBold";
                font-style: normal;
                font-weight: normal;
                src: url("./assets/css/fonts/Norse-Bold.woff") format("woff"), url("./assets/css/fonts/Norse-Bold.ttf") format("truetype");
            }
            
            body {
                font-family: Norse;
            }
            
            @media screen and (max-width: 600px) {
                .row {
                    margin-left: 0px!important;
                    margin-right: 0px!important;
                }
            }
        </style>
    </head>

    <body>

        <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
            <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
            <div class="container">
                <div class="navbar-header">
                    <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a href="#" class="navbar-brand" style="font-family: Norse; font-size: 24px;">
                    Lihkolas Husky
                </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right navbar-uppercase">
                        <li>
                            <a href="home.php" style="font-family: Norse; font-size: 18px;">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="./blog-posts.php" class="dropdown-toggle" data-toggle="dropdown" style="font-family: Norse; font-size: 18px;">Adventures <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-danger">
                                <?php
                            $consulta2 = "SELECT * FROM posts WHERE menu = 1";
                            $dat2 = $mysqli->query($consulta2);
                            while($res2 = $dat2->fetch_array()){
                                $post1 = $res2['title'];
                                $link1 = $res2['link'];
                                $id1 = $res2['id'];

                            ?>
                                    <li>
                                        <a href="./blog-post.php?title=<?php echo $link1 ;?>&id=<?php echo $id1 ;?>" style="font-family: Norse;font-size: 16px;">
                                            <?php echo $post1; ?>
                                        </a>
                                    </li>
                                    <?php
                             };
                            ?>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-family: Norse;font-size: 18px;">Galleries <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-danger">
                                <?php
                            $consulta4 = "SELECT * FROM gallerie where public=1";
                            $dat4 = $mysqli->query($consulta4);
                            while($res4 = $dat4->fetch_array()){
                                $name1 = $res4['name'];
                                $root1 = $res4['root'];
                            ?>

                                    <li>
                                        <a href="gallery.php?category=<?php echo $root1 ;?>" style="font-family: Norse;font-size: 16px;">
                                            <?php echo $name1; ?>
                                        </a>
                                    </li>
                                    <?php
                             };
                            ?>
                            </ul>
                        </li>
                        <li>
                            <a href="portfolio.php" style="font-family: Norse;font-size: 18px;">Portfolio</a>
                        </li>
                        <li>
                            <a href="https://www.etsy.com/shop/TheHandyViking" class="btn btn-danger btn-fill" style="font-family: Norse;font-size: 18px; bottom: 5px;">Shop</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>

        <div class="section section-header">
            <div class="parallax filter filter-color-black">
                <div class="image" style="
                 background-image: url(./assets/img/<?php echo $main_image; ?>); background-position: <?php echo $main_position; ?>;">
                </div>
                <div class="container">
                    <div class="content">
                        <h1 style="font-family: NorseBold;font-size: 72px;">Lihkolas Husky</h1>
                        <div class="separator-container">
                            <div class="separator line-separator">♦</div>
                        </div>
                        <h5 style="font-family: Norse;">Living the Husky life</h5>
                    </div>
                </div>
            </div>
            <a href="" data-scroll="true" data-id="#firstSection" class="scroll-arrow hidden-xs hidden-sm">
                <i class="fa fa-angle-down"></i>
            </a>
        </div>

        <div class="section" id="firstSection">
            <div class="container">
                <div class="title-area">
                    <h2 style="font-family: NorseBold;">Who are we?</h2>
                    <div class="separator separator-danger">♦</div>
                    <p class="description">
                        <?php echo $main_text; ?>
                    </p>
                    <a href="about-us.php" class="btn btn-danger btn-fill" style="font-family: Norse;font-size: 18px; bottom: 5px;">Read more</a>
                </div>
            </div>

            <div class="parallax parallax-small">
                <div class="image" style="background-image: url(./assets/img/<?php echo $image1; ?>); background-position: <?php echo $image1_position; ?>!important; "></div>
            </div>
        </div>

        <div class="section section-our-projects section-our-projects-fluid">

            <div class="title-area">
                <h2 style="font-family: NorseBold;">Our little Shop</h2>
                <div class="separator separator-danger">♦</div>
                <p class="description">
                    <?php echo $text_shop; ?>
                </p>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <?php

// Make sure you define API_KEY to be your unique, registered key
$url = "https://openapi.etsy.com/v2/shops/TheHandyViking/listings/featured?api_key=570wya6y6deigk6eo5nbd668";
$ch = curl_init($url);
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
$response_body = curl_exec($ch);
$status = curl_getinfo($ch, CURLINFO_HTTP_CODE);
if (intval($status) != 200) throw new Exception("HTTP $status\n$response_body");

$response = json_decode($response_body, true);
// var_dump($response);
// print_r($response);
$response_json =  $response['results'];
$response_json1 =  $response['count'];
 //print_r($response2);
for( $i= 0 ; $i <= $response_json1-1 ; $i++ )
{
$items_response = $response_json[$i];
$response_sub = substr($items_response['description'], 0, 300);
$taxonomy_path_0 = $items_response['taxonomy_path'];
$taxonomy_path_1 = $taxonomy_path_0[0];
$taxonomy_path_2 = $taxonomy_path_0[1];
$taxonomy_path_3 = $taxonomy_path_0[2];  

$listing = $items_response['listing_id'];

$url2 = "https://openapi.etsy.com/v2/listings/".$listing."/images/?api_key=570wya6y6deigk6eo5nbd668";
$ch1 = curl_init($url2);
curl_setopt($ch1, CURLOPT_RETURNTRANSFER, true);
$response_body1 = curl_exec($ch1);
// echo $response_body1;
$response_img = json_decode($response_body1, true);

$response_json_img =  $response_img['results'];
$items_response_img = $response_json_img[0];
echo "<div class='col-lg-4 col-md-6 col-sm-6' >
                    <div class='project'>

                        <img src='".$items_response_img['url_fullxfull']."' />
                        <a class='over-area' href='".$items_response['url']."'>
                            <div class='content'>
                            <label class='label label-danger label-fill'>".$taxonomy_path_1."</label>  <label class='label label-danger label-fill'>".$taxonomy_path_2."</label>  <label class='label label-danger label-fill'>".$taxonomy_path_3."</label>
                                <h3>".$items_response['title']."</h3>
                                <p>".$response_sub."...</p>
                            </div>
                        </a>
                    </div>
                </div>";

}

// var_dump($response->{'results'});

?>

                </div>
            </div>
        </div>

        <div class="section section-card-blog" style="background-color: white!important;margin-top: -50px;">
            <div class="container">
                <div class="title-area">
                    <h5 style="font-family: Norse;" class="text-gray">Don't miss</h5>
                    <h2 style="font-family: NorseBold;">Our Stories</h2>
                    <div class="separator separator-danger">✻</div>
                </div>
                <?php
                        $post = "SELECT * FROM posts WHERE section = 1";
                        $post_dat = $mysqli->query($post);
                        while($row_post = $post_dat->fetch_array()){;
                        $id_section_1 = $row_post['id'];
                        $title_section_1 = $row_post['title'];
                        $link_section_1 = $row_post['link'];
                        $tag_section_1 = $row_post['tag'];
                        $content_section_1 = $row_post['content'];
                        $content_section_1_sub = substr($content_section_1, 8, 120);
                        $date_section_1 = $row_post['date'];
                        $image_section_1 = $row_post['main_image'];

              ?>

                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="card card-blog">
                                <a href="./blog-post.php?title=<?php echo $link_section_1 ;?>&id=<?php echo $id_section_1 ?>" class="header">
                            <img src="./assets/img/<?php echo $image_section_1 ; ?>" class="image-header">
                        </a>
                                <div class="content">
                                    <div class="circle-black">
                                        <div class="circle">
                                            <div class="date-wrapper">
                                                <span class="month"><?php echo date("M", strtotime($date_section_1)) ?></span>
                                                <span class="date"><?php echo date("d", strtotime($date_section_1)) ?></span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="./blog-post.php?title=<?php echo $link_section_1 ;?>&id=<?php echo $id_section_1 ?>" class="card-title"><h3 style="font-family: NorseBold; font-size: 24px;"><?php echo $title_section_1; ?></h3></a>
                                    <h6 class="card-category text-warning"><?php echo $tag_section_1 ?> </h6>
                                    <p class="text-description text-gray">
                                        <?php echo $content_section_1_sub; ?>...</p>
                                </div>
                            </div>
                        </div>
                        <? } ?>
                            <center><a href="./blog-posts.php" class="btn btn-danger btn-fill" style="font-family: Norse;font-size: 18px; bottom: 5px; ">More Stories</a></center>
                    </div>
            </div>
        </div>
        </div>
        </div>

        <div class="section section-get-started">
            <div class="parallax filter filter-color-black">
                <div class="image" style="background-image: url('./assets/img/header-13.jpeg')">
                </div>
                <div class="container">
                    <div class="title-area">
                        <h2 class="text-white" style="font-family: NorseBold;">Want to follow us?</h2>
                        <div class="separator">♦</div>
                        <p class="description">
                            We share adventures, updates, cool photos, advices..Don't hesitate to keep in touch!
                        </p>
                    </div>

                    <div class="button-get-started">
                        <a href="https://www.facebook.com/lihkolas.husky/">
                            <button type="button" class="btn btn-lg btn-danger btn-fill " style="font-family: NorseBold; font-size: 24px; margin-right: 10px;"><i class="fa fa-facebook-square"></i> lihkolas.husky</button>
                        </a>
                        <a href="https://www.instagram.com/lihkolas_husky/?hl=en">
                            <button type="button" class="btn btn-lg btn-danger btn-fill " style="font-family: NorseBold; font-size: 24px;margin-left: 10px;"><i class="fa fa-instagram"></i> lihkolas_husky</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <footer class="footer footer-big footer-color-black" data-color="black">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-3">
                        <div class="info">
                            <h5 class="title">Lihokolas</h5>
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#">Home</a></li>
                                    <li>
                                        <a href="./blog-posts.php">Adventures</a>
                                    </li>
                                    <li>
                                        <a href="./gallery.php?category=norway">Galleries</a>
                                    </li>
                                    <li>
                                        <a href="./portfolio.php">Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="./about-us.php">About Us</a>
                                    </li>
                                    <li>
                                        <a href="https://www.etsy.com/shop/TheHandyViking">Shop</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1 col-sm-3">
                        <div class="info">
                            <h5 class="title"> Help and Support</h5>
                            <nav>
                                <ul>
                                    <li>
                                        <a href="mailto:lihkolashusky@gmail.com?Subject=Website%20Request" target="_top">Contact Us</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="info">
                            <h5 class="title">Instagram News</h5>
                            <nav>

                                <!-- InstaWidget -->
                                <!-- Instagram Widget Embed Start -->
                                <div class="instawidget" data-user-name="lihkolas_husky" data-amount="6" data-grid="3"></div>
                                <script type="text/javascript" src="//www.stadget.com/cdn/widget-init.min.js"></script>
                                <!-- Instagram Widget Embed End -->
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-1 col-sm-3">
                        <div class="info">
                            <h5 class="title">Follow us on</h5>
                            <nav>
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/lihkolas.husky/" class="btn btn-social btn-facebook btn-simple">
                                            <i class="fa fa-facebook-square"></i> lihkolas.husky
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/lihkolas_husky/?hl=en" class="btn btn-social btn-instagram btn-simple">
                                            <i class="fa fa-instagram"></i> lihkolas_husky
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/handy_viking/" class="btn btn-social btn-instagram btn-simple">
                                            <i class="fa fa-instagram"></i> handy_viking
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.shutterstock.com/g/Jana+Caposova" class="btn btn-social btn-instagram btn-simple">
                                            <i class="fa fa-camera"></i></i> Jana's Shutterstock
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="copyright">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> <a style="font-family: NorseBold;" href="https://www.notmanana.com/en">Mañana Mañana</a>, made with love
                </div>
            </div>
        </footer>

    </body>

    <!--   core js files    -->
    <script src="./assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="./assets/js/bootstrap.js" type="text/javascript"></script>

    <!--  js library for devices recognition -->
    <script type="text/javascript" src="./assets/js/modernizr.js"></script>

    <!--  script for google maps   -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!--   file where we handle all the script from the Gaia - Bootstrap Template   -->
    <script type="text/javascript" src="./assets/js/gaia.js"></script>

</html>