asgiref==3.2.3
bcrypt==3.1.7
certifi==2019.11.28
cffi==1.14.0
cssselect==1.1.0
d==0.2.2
Django==1.11.29
django-appconf==1.0.3
django-batch-uploader==0.14
django-imagekit==4.0.2
django-photologue==3.11
django-sortedm2m==3.0.0
django-starcross-gallery==1.0.7
ExifRead==2.1.2
Faker==2.0.4
lxml==4.6.2
Markdown==3.2.1
pilkit==2.0
Pillow==6.2.1
pycparser==2.19
pyetsy==0.4.10
Pygments==2.6.1
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
requests-oauthlib==1.3.0
six==1.14.0
sqlparse==0.3.0
text-unidecode==1.2
