{% extends "gallery/gallery_base.html" %}
{% load static %}

{% block title %}
    {{ gallery_title }}
{% endblock %}

{% block header %}
<style>
  #content {
      display: none;
  }
</style>
    <script type="text/javascript" src="{% static 'gallery/js/infinite_scroll.js' %}"></script>
    {% include "gallery/partials/justify_images.html" %}

    <div class="section section-header" >
        <div class="parallax filter filter-color-black">
            <div class="image" style="
             background: url({% static 'images/dsc_8111a.jpg'  %}) no-repeat left bottom fixed; -webkit-background-size: cover;
             -moz-background-size: cover;
             -o-background-size: cover;
             background-size: cover;" >
            </div>
            <div class="container">
                <div class="content">
                    <h1 style="font-family: NorseBold;font-size: 72px;">Galleries</h1>
                    {% for album in object_list %}
                            <a href="{% url 'gallery:album_detail' album.pk album.slug  %}"><button type="button" style="font-family: Norse; margin-left: 10px; font-size: 24px;" class="btn btn-fill btn-danger">
                             {{ album.title }}
                          </button></a>
                    {% endfor %}
                    <h5 style="font-family: Norse;">{{ pages.name }}</h5>
                </div>
            </div>
        </div>
    </div>




{% endblock %}


{% block content %}


{% endblock %}
